.shrink {
    width: 60px !important;
    min-width: 60px;
    max-width: 60px;
    overflow: hidden;
    transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
}

.aside {
    transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
}
.aside .logo-icon {
    margin-bottom: 50px;
}
.aside .links a {
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.aside .links a svg {
    margin-right: 10px;
}

.aside .aside-background {
    background-image: url(../../assets/images/cloud.png);
    background-size: contain;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 100px;
}